@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #111;
  color: #00fff7;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #00fff7;
  border-radius: 8px;
}

.Toastify__toast-theme--dark {
  background-color: #111 !important;
  color: #00fff7 !important;
}